# Extracted from https://github.com/ulrich/macaron-factory/blob/master/.gitignore
# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# exclude SVN files
\.svn

# Ignore Play! working directory #

webservice/logs
webservice/target
webservice/project/project
webservice/project/target
webservice/bin
# websevice/dist        ##commit to github
webservice/RUNNING_PID

# Ignore openshift deployment folder
openshift

# Ignore tmp folder
/tmp

# Ignore demo folder
webapp/versions