# Extracted from https://github.com/ulrich/macaron-factory/blob/master/.gitignore
# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# exclude SVN files
\.svn
\_svn

# ignore zip backup files
*.zip
*.rar

# Ignore Play! working directory #

webservice/logs
webservice/target
webservice/project/project
webservice/project/target
webservice/bin
# websevice/dist        ##commit to github
webservice/RUNNING_PID

# Ignore openshift deployment folder
openshift

# Ignore tmp folder
/tmp

# ignore minapp folder
minapp

# ignore tutorial demos
webapp/js/tmp/require*

# ignore sublime project file
*.sublime-project
*.sublime-workspace
