table#member-table td {
  cursor: pointer;
}

th[order] {
  cursor: pointer;	
}

th[order] i.icon-order {
  margin-left: 5px;
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

th[order].order-asc i {
  background-position: -288px -144px;
}

th[order].order-desc i {
  background-position: -312px -144px;
}
