.font-default {
  font-size: 12px;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 12px;
  font-weight: normal;
}
/*========================================================== 
*	General
*/
body {
  padding: 0px;
}
body,
label,
input,
button,
select,
textarea {
  font-size: 12px;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 12px;
  font-weight: normal;
}
/*==========================================================
*	Layout
*/
.navbar-inner-header {
  background: #feffff;
  /* Mozilla Firefox */
  background: -moz-radial-gradient(center, ellipse cover, #feffff 0%, #d2ebf9 100%);
  /* Webkit (Chrome 11+) */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #feffff), color-stop(100%, #d2ebf9));
  background: -webkit-radial-gradient(center, ellipse cover, #feffff 0%, #d2ebf9 100%);
  /* Opera */
  background: -o-radial-gradient(center, ellipse cover, #feffff 0%, #d2ebf9 100%);
  /* IE10 Consumer Preview */
  background: -ms-radial-gradient(center, ellipse cover, #feffff 0%, #d2ebf9 100%);
  background: radial-gradient(ellipse at center, #feffff 0%, #d2ebf9 100%);
  /* IE+6 */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#feffff, endColorstr=#d2ebf9, GradientType=1);
  min-height: 70px;
  padding-right: 20px;
  padding-left: 20px;
  background-repeat: repeat-x;
  border-radius: 0px;
  border-bottom: 3px solid;
}
.navbar-inner-header img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
  float: left;
}
/*==========================================================
*	Errores
*/
.control-group.error ul {
  color: #f96060;
  border-color: #f96060;
}
.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  border-color: #f96060;
  box-shadow: 0 0px 1px #f96060 inset;
  color: #f96060;
}
.control-group.error > label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #f96060;
}
/*==========================================================
*	Accordion
*/
.accordion {
  margin-bottom: 0;
}
.accordion-heading {
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(center top, #ffffff 0%, #fcefdf 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(center top, #ffffff 0%, #fcefdf 100%);
  /* Opera */
  background-image: -o-linear-gradient(center top, #ffffff 0%, #fcefdf 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #fcefdf));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(center top, #ffffff 0%, #fcefdf 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to center top, #ffffff 0%, #fcefdf 100%);
  /* IE+6 */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#fcefdf);
  border-bottom: 1px solid #dddddd;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(center top, #ffffff 0%, #fcefdf 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(center top, #ffffff 0%, #fcefdf 100%);
  /* Opera */
  background-image: -o-linear-gradient(center top, #ffffff 0%, #fcefdf 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #fcefdf));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(center top, #ffffff 0%, #fcefdf 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to center top, #ffffff 0%, #fcefdf 100%);
  /* IE+6 */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#fcefdf);
  border: 1px solid #dddddd;
}
.ui-widget-content {
  border: 1px solid #dddddd;
  background: #f7f7f7;
}
.ui-accordion .ui-accordion-content {
  margin-top: 0px;
}
/*========================================================== 
*	DropDown Button 
*/
.btn-toolbar {
  text-align: right;
  margin: 0;
  padding: 0;
}
.dropdown-menu {
  min-width: 125px;
  text-align: left;
}
.dropdown-menu i {
  padding-left: 5px;
}
/*========================================================== 
*	Tabs 
*/
.nav > li > a:hover {
  text-decoration: none;
  background-color: #EEE;
}
.nav-tabs {
  list-style: none;
}
.nav-tabs li {
  display: inline-block;
}
.nav-tabs select {
  display: none;
  background-color: #EEE;
}
.nav-tabs > li > a {
  border: 1px solid #EEE;
}
.nav-tabs > li > a:hover {
  border-color: #EEE #EEE #B8B7B7;
}
/*========================================================== 
*	Grids 
*/
.table th,
.table td {
  padding: 0 4px;
}
.table tr:hover {
  cursor: pointer;
}
/*========================================================== 
*	Paginator 
*/
.pagination {
  height: 40px;
  margin: -5px 0;
}
.pagination a,
.pagination span {
  line-height: 20px;
  padding: 0 10px;
}
/*========================================================== 
*	Panel 
*/
.panel {
  margin: 10px 0px;
  border: 1px solid #dddddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.panel-title {
  border-bottom: 1px solid #dddddd;
  font-size: 1.2em;
  padding: 10px 0px 0px 0px;
}
.panel-header {
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(center top, #ffffff 0%, #fcefdf 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(center top, #ffffff 0%, #fcefdf 100%);
  /* Opera */
  background-image: -o-linear-gradient(center top, #ffffff 0%, #fcefdf 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #fcefdf));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(center top, #ffffff 0%, #fcefdf 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to center top, #ffffff 0%, #fcefdf 100%);
  /* IE+6 */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#fcefdf);
  border-bottom: 1px solid #CCCCCC;
  display: block;
  font-size: 1.2em;
  padding: 8px 15px;
}
.panel-content {
  -moz-transition: height 0.35s ease 0s;
  border-top: 1px solid #dddddd;
  height: auto;
  overflow: hidden;
  padding: 9px 15px;
  position: relative;
}
/*========================================================== 
*	Panel (FontSize) 
*/
.navbar-inner-info .row .utils {
  float: right;
  padding: 5px;
}
.navbar-inner-info .row .utils a {
  color: #333333;
  font-weight: bold;
  text-decoration: none;
}
.navbar-inner-info .row .utils a.sizeminus {
  font-size: 1.2em;
}
.navbar-inner-info .row .utils a.sizeplus {
  font-size: 1.4em;
}
/*========================================================== 
*	Navigator
*/
.navbar {
  margin: 0px;
  overflow: visible;
}
.nav-pills[class^="icon-"],
[class*=" icon-"] {
  padding: 0px 10px 0px 0px;
}
/*========================================================== 
*	Multilevel Menu
*
* TODO: This could be replace for the new Twitter Boostrap feature.
*/
.submenu-show {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: block;
  left: 100%;
  margin-top: -25px !important;
  position: absolute;
}
.submenu-hide {
  display: none !important;
  float: right;
  position: relative;
  top: auto;
}
.navbar .submenu-show:before {
  border-bottom: 7px solid transparent;
  border-left: none;
  border-right: 7px solid rgba(0, 0, 0, 0.2);
  border-top: 7px solid transparent;
  left: -7px;
  top: 10px;
}
.navbar .submenu-show:after {
  border-bottom: 6px solid transparent;
  border-left: none;
  border-right: 6px solid #fff;
  border-top: 6px solid transparent;
  left: 10px;
  left: -6px;
  top: 11px;
}
/*========================================================== 
*	Box Widget
*/
.box-widget {
  background-color: #f7f7f7;
  height: auto;
  border: 1px solid #dddddd;
}
.box-widget:hover .box-widget-head {
  background-color: #fcefdf;
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(top, #ffffff 0%, #fcefdf 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #ffffff 0%, #fcefdf 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, #ffffff 0%, #fcefdf 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#fcefdf));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #fcefdf 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to top, #ffffff 0%, #fcefdf 100%);
  /* IE+6 */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#fcefdf);
}
.box-widget-head {
  height: 28px;
  background-color: #f7f7f7;
  padding: 3px 6px;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px #dcdcdc solid;
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(top, #ffffff 0%, #fcefdf 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #ffffff 0%, #fcefdf 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, #ffffff 0%, #fcefdf 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#fcefdf));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #fcefdf 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to top, #ffffff 0%, #fcefdf 100%);
  /* IE+6 */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#fcefdf);
}
.box-widget-hide .box-widget-head {
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(top, #ffffff 0%, #fcefdf 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #ffffff 0%, #fcefdf 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, #ffffff 0%, #fcefdf 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#fcefdf));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #fcefdf 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to top, #ffffff 0%, #fcefdf 100%);
  /* IE+6 */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#fcefdf);
}
.box-widget-head i {
  opacity: 0.6;
  margin-top: 2px;
}
.box-widget-head .btn-group .btn {
  border: none;
  background: none;
  box-shadow: none;
}
.box-widget-body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding: 10px;
  color: #666;
}
.box-widget-body p {
  font-size: 12px;
}
.box-widget-body ol {
  margin: 6px 0px 6px 0px;
  list-style: decimal;
  list-style-position: inside;
}
.box-widget-body ol li {
  font-size: 12px;
}
.box-widget-footer {
  margin-top: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding: 5px 10px;
  font-size: 12px;
  border-top: 1px #f4f4f4 solid;
}
