@media (min-width: 768px){
	
	.subnav .nav > li > a:after{
		content: attr(data-title);
	}
	
}


@media (max-width: 768px){
	
	.nav-tabs li{ 
		display: none; 
	}

	.nav-tabs select { 
		display: inline-block; 
		width: 100%;
	}


	.subnav .nav > li + li > a {
		border-top: 0px;
	}
	.subnav .nav > li > a {
		border: 0;
		float: left;
		padding: 5px;
		width: 30px;
	}

	.subnav .nav > li > a:after{
		content: '';
	}
	


	
} 	




