
<div class="widget">

   <div class="whead">
      <h6><%= _title %></h6>
      <div class="clear"></div>
  </div>

  <div class="panel-content">
    <div class="row">
      %controls%
    </div>
  </div>

</div>

 <div class="row">

  <div class="span6 btns">
    <button class="btn btn-primary save">Guardar</button>
    <button class="btn cancel">Cancelar</button>
  </div>

  <div class="span6 btns">
    <div class="btn-toolbar" >
      <button class="btn btn-danger delete">Borrar</button>

      <div class="btn-group">
        <button class="btn dropdown-toggle" data-toggle="dropdown">Otras acciones<span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#" onclick="alert('En construcción'); return false;"><i class="icon-list-alt"></i>Exportar</a></li>
          <li><a href="#" onclick="alert('En construcción'); return false;"><i class="icon-print"></i>Imprimir</a></li>
        </ul>
      </div>

    </div>
  </div>

</div>
