<div class="navbar-inner">

      <div class="container">

        <a class="btn btn-navbar" data-toggle="collapse"
          data-target=".nav-collapse"> <span class="icon-bar"></span> <span
          class="icon-bar"></span> <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse">
          <!-- Menu -->
          <ul class="nav">
            <li><a href="#">Inicio</a></li>

            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle active" href="#">Proveedores<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a class="disabled" href="#">ABM Proveedor</a></li>
                <li class="divider"></li>
                <li><a href="#">Situación IVA</a></li>
                <li><a href="#">Categorías AFIP</a></li>
                <li><a href="#">Tipos de domicilio</a></li>
                <li><a href="#Provincia">Provincias</a></li>
                <li><a href="#">Localidades</a></li>
                <li><a href="#TipoActividadAFIP">Tipos de actividades AFIP</a></li>
                <li><a href="#ActividadAFIP">Actividades AFIP</a></li>
                <li><a href="#">Condiciones de pago</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle active" href="#">Ordenes de Compra<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Importador SLU</a></li>
                <li><a href="#">ABM Orden de Compra</a></li>
                <li class="divider"></li>
                <li><a href="#">Tipo Orden de Compra</a></li>
                <li><a href="#">Objeto de la Orden de Compra</a></li>
                <li><a href="#">Tipos de procemiento</a></li>
                <li><a href="#">Acto de Adjudicación</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle active" href="#">Facturas<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Bandeja - Internet</a></li>
                <li><a href="#">Bandeja Interior</a></li>
                <li><a href="#">ABM Factura</a></li>
                <li class="divider"></li>
                <li><a href="#TipoComprobante">Tipo de Comprobante</a></li>
                <li><a href="#">Conceptos</a></li>
                <li><a href="#">Retenciones</a></li>
                <li><a href="#">Deducciones</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle active" href="#">Consultas<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Consulta 1</a></li>
                <li><a href="#">Consulta 2</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle active" href="#">Configuración<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Oficinas</a></li>
                <li><a href="#">Usuarios</a></li>
                <li><a href="#">Auditoría</a></li>
                <li class="divider"></li>
                <li><a href="#">Contadores</a></li>
                <li><a href="#">Variables</a></li>
                <li><a href="#">Database Info</a></li>
                <li class="dropdown-submenu">
                    <a href="#">Permisos</a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Recursos</a></li>
                      <li><a href="#">Tipos de Objetos</a></li>
                      <li><a href="#">Grupos</a></li>
                      <li><a href="#">Permisos</a></li>

                    </ul>
                </li>
                <li class="divider"></li>
                <li><a href="#">Archivos</a></li>
                <li><a href="#">Tipos de Archivos</a></li>
             </ul>
            </li> 
          </ul>
          
          <!-- Usuario logueado -->
          <ul class="nav pull-right">
            <li class="dropdown"><a href="#" class="dropdown-toggle"
              data-toggle="dropdown"><i class="icon-user icon-black"></i>
                Usuario<b class="caret"></b></a>
              <ul class="dropdown-menu">

                <li><a href="#">Perfil</a></li>
                <li class="divider"></li>
                <li><a href="#">Cerrar sesión</a></li>
              </ul></li>
          </ul>
        </div>
      </div>