    <section id="tables">

      <h5>Wines</h5>

      <div id="query-view" class="panel">
      </div>

      <div class="row">
        <div class="span6">
          <div id="page-len-view"></div>
        </div>
        <div class="span6">
          <div id="filter-view"></div>
        </div>
      </div>

      <div id="headers-view">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th order="id">N.<i class="icon-order"></i></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      </div>

      <div class="row" id="pages-view"></div>

      <div class="row">
        <div class="span6 btns">
           <a class="btn add" href="#wines/new">
             <i class="icon-plus icon-black"></i>Add
           </a>
        </div>
      </div>

    </section>