<!DOCTYPE html>

<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>BackboneBootstrap demo application</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/docs.css" rel="stylesheet">
    <link href="css/styles-responsive.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]> 
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner-header app-title">
        <h1>BackboneBootstrap</h1>
        <p>Demo app featuring Backbone and Bootstrap.</p>
      </div>
      <div id="main-menu"></div>
    </div>

    <div class="subnav">
      <div id="action-bar"></div>
    </div>

    <div id="accessibility-bar"></div>

    <div class="container">

      <div id="tabs-bar"></div>

      <div id="messages"></div>

      <div id="table"></div>

      <div id="form"></div>

    </div>

  </body>

<!-- Templates -->
<script type="text/template" id="table-template">

    <section id="tables">
      <div class="page-header">
        <h1>
          Wines <small>BackboneBootstrap demo application.</small>
        </h1>
      </div>

      <div class="row">
        <div class="span6">
          <div id="page-len"></div>
        </div>
        <div class="span6">
          <div id="filter-box"></div>
        </div>
      </div>

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th order="id">N.<i class="icon-order"></i></th>
            <th order="name">Name<i class="icon-order"></i></th>
            <th order="grapes">Grapes<i class="icon-order"></i></th>
            <th order="country">Country<i class="icon-order"></i></th>
            <th order="region">Region<i class="icon-order"></i></th>
            <th order="year">Year<i class="icon-order"></i></th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>

      <div class="row" id="pages"></div>

      <a class="btn btn-primary btn-success btn-small add" href="#wines/new">
        <i class="icon-plus icon-white"></i>add
      </a>

    </section>

</script>

<script type="text/template" id="main-menu-template">
<div class="navbar-inner">

      <div class="container">

        <a class="btn btn-navbar" data-toggle="collapse"
          data-target=".nav-collapse"> <span class="icon-bar"></span> <span
          class="icon-bar"></span> <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><a href="#">Home</a></li>

            <li class="dropdown"><a data-toggle="dropdown"
              class="dropdown-toggle active" href="#">Option 1<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown submenu"><a href="#"
                  class="dropdown-toggle" data-toggle="dropdown">Sub option 1.1</a>
                  <ul class="dropdown-menu submenu-show submenu-hide">
                    <li class="dropdown submenu"><a href="#"
                      class="dropdown-toggle" data-toggle="dropdown">Sub option 1.1.1</a>
                      <ul class="dropdown-menu submenu-show submenu-hide">
                        <li><a href="#">Sub option 1.1.1.1</a></li>
                        <li><a href="#">Sub option 1.1.1.2</a></li>
                        <li><a href="#">Sub option 1.1.1.3</a></li>
                      </ul></li>
                    <li class="dropdown submenu"><a href="#"
                      class="dropdown-toggle" data-toggle="dropdown">Sub option 1.1.2</a>
                      <ul class="dropdown-menu submenu-show submenu-hide">
                        <li><a href="#">Sub option 1.1.2.1</a></li>
                        <li><a href="#">Sub option 1.1.2.2</a></li>
                      </ul></li>
                    <li><a href="#">Sub option 1.1.3</a></li>
                  </ul></li>
                <li><a href="#">Sub option 1.2</a></li>
              </ul></li>


            <li class="dropdown"><a href="#" class="dropdown-toggle"
              data-toggle="dropdown">Option 2<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Sub option 2.1</a></li>
                <li><a href="#">Sub option 2.2</a></li>
                <li><a href="#">Sub option 2.3</a></li>
                <li class="divider"></li>
                <li class="nav-header">Nav header</li>
                <li><a href="#">Sub option 2.4</a></li>
                <li><a href="#">Sub option 2.5</a></li>
              </ul></li>
          </ul>
          <ul class="nav pull-right">
            <li class="dropdown"><a href="#" class="dropdown-toggle"
              data-toggle="dropdown"><i class="icon-user icon-white"></i>
                User<b class="caret"></b></a>
              <ul class="dropdown-menu">

                <li><a href="#">My profile</a></li>
                <li class="divider"></li>
                <li><a href="#">Close session</a></li>
              </ul></li>
          </ul>
        </div>
      </div>
</script>

<script type="text/template" id="action-bar-template">
    <div class="subnav">
      <ul class="nav nav-pills">
        <li><a href="#typography" data-title="Browse"><i class="icon-search"></i></a></li>
        <li><a href="#add"        data-title="Add"><i class="icon-plus"></i></a></li>
        <li><a href="#edit"       data-title="Edit"><i class="icon-pencil"></i></a></li>
        <li><a href="#delete"     data-title="Delete"><i class="icon-trash"></i></a></li>
        <li><a href="#export"     data-title="Export"><i  class="icon-list-alt"></i></a></li>
        <li><a href="#print"      data-title="Print"><i class="icon-print"></i></a></li>
      </ul>
    </div>
</script>

<script type="text/template" id="accessibility-bar-template">
  <div class="navbar-inner-info">
    <div class="row">
      <div class="utils">
        <a href="#" rel="tooltip" title="vista daltónicos"
          onclick="colorBlind()"><i class="icon-eye-open"></i></a> / <a
          href="#" rel="tooltip" title="disminuir fuente" class="sizeminus"
          onclick="resizeText(-1)">A-</a> / <a href="#" rel="tooltip"
          title="aumentar fuente" class="sizeplus" onclick="resizeText(1)">A+</a>
        / <a href="#" rel="tooltip" title="valores por defecto"
          onclick="window.location.reload();"><i class="icon-refresh"></i></a>
      </div>
    </div>
  </div>
</script>

<script type="text/template" id="tabs-bar-template">
    <!-- Tabs -->
    <ul class="nav nav-tabs">
      <li><a href="#main" data-toggle="tab">Main</a></li>
      <li><a href="#tab1" data-toggle="tab">First tab</a></li>
      <li><a href="#tab2" data-toggle="tab">Second tab</a></li>
    </ul>
</script>

<script type="text/template" id="messages-template">
</script>

<script type="text/template" id="form-template">
      <div class="panel">
        <div class="panel-header">Wines</div>
        <div class="panel-content">

          <div class="row">
        
            <div class="span3">
              <label class="control-label" for="id">Id</label> 
              <input type="text" class="span3" id="id" value="<%= id || "new" %>">
              <p class="help-block">The id is automatically assigned</p>
            </div>

            <div class="span2">
              <label class="control-label" for="name">name</label> 
              <input type="text" class="span2" id="name" value="<%= name %>">
              <p class="help-block">Enter the name of the wine</p>
            </div>

            <div class="span2">
              <label class="control-label" for="grapes">Grapes</label> 
              <input type="text" class="span2" id="grapes" value="<%= grapes %>">
              <p class="help-block">Enter the name of the wines grapes</p>
            </div>

            <div class="span3">
              <label class="control-label" for="country">Country</label> 
              <input type="text" class="span3" id="country" value="<%= country %>">
              <p class="help-block">Enter the wines country</p>
            </div>

            <div class="span2">
              <label class="control-label" for="region">Region</label> 
              <input type="text" class="span2" id="region" value="<%= region %>">
              <p class="help-block">Enter the wines region</p>
            </div>

          </div>

          <div class="row">

            <div class="span2">
              <label class="control-label" for="year">Year</label> 
              <input type="text" class="span2" id="year" value="<%= year %>">
              <p class="help-block">Enter the wines year</p>
            </div>

          </div>

        </div>
      </div>

      <div class="form-actions">
        <div class="btn btn-primary save">Save changes</div>
        <div class="btn cancel">Cancel</div>
      </div>
</script>

</html>

<!-- libs -->
<script src="lib/json2.min.js"></script>
<script src="lib/jquery-1.7.2.min.js"></script>
<script src="lib/bootstrap.js"></script>      <!-- Boostrap -->
<!-- <script src="lib/zepto-1.0rc1.min.js"></script> -->
<script src="lib/underscore-1.3.3.js"></script>
<script src="lib/backbone-0.9.2.js"></script>

<!-- utils -->
<script src="js/utils/http.js"></script>
<script src="js/utils/crud.js"></script>

<!-- app -->
<script src="js/config.js"></script>
<script src="js/main.js"></script>

<!-- models -->
<script src="js/models/wine.js"></script>

<!-- views  -->
<script src="js/views/widgets/mainmenu.js"></script>
<script src="js/views/crud/page_len.js"></script>
<script src="js/views/crud/table.js"></script>
<script src="js/views/crud/filter.js"></script>
<script src="js/views/crud/page.js"></script>
<script src="js/views/wine/form.js"></script>
<script src="js/views/wine/rows.js"></script>

<!-- controllers -->
<script src="js/routers/wine.js"></script>